<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/testngProject">
        <classes>
            <class name="com.testng.testcases.DemoTestCase">
                <methods>
                    <include name="testDemo"/>
                </methods>
            </class>
            <class name="com.testng.testcases.LoginTestCase"/>
            <class name="com.testng.testcases.FeedTestCase"/>
        </classes>
    </test>
</suite>